h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 260101051-02].  Elaborar el brief según análisis y reconocimiento de estrategias de comunicación.