.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 DOFA: 
            | es un instrumento de diagnóstico empresarial que nos permite aprovechar las fortalezas y oportunidades para vencer las debilidades y evitar las amenazas.
        hr

        p
            strong.mr-2 Base de datos:
            | es un compendio de información ordenada y almacenada de acuerdo a un conjunto de datos.
        hr

        p
            strong.mr-2 Benchmarking:
            | medición y comparación de las operaciones o los procesos internos de la organización con otras empresas que realizan procesos similares.

        hr

        p
            strong.mr-2 Brainstorming: 
            | también llamada tormenta de ideas, todo un clásico en las técnicas grupales para generar ideas.

        hr

        p
            strong.mr-2 Competencia:
            | empresas que fabrican y comercializan productos o servicios que satisfacen las mismas necesidades de una organización en particular.

        hr

        p
            strong.mr-2 Eyetracking:
            | se encarga de extraerle información al usuario, por medio del análisis de sus movimientos oculares.
          


        hr

        p
            strong.mr-2 Fuentes de información:
            | son todos aquellos recursos que contienen datos relevantes para un tema específico. Se dividen en dos: primarias y secundarias.

 



        hr

        p
            strong.mr-2 Necesidad:
            | la sensación de carencia física, fisiológica o psicológica común de todas las personas que conforman el mercado.




        hr

        p
            strong.mr-2 Nicho de mercado:
            | es  un grupo reducido (de personas, empresas u organizaciones), con necesidades y/o deseos específicos, también puede estar conformado por una pequeña zona geográfica o un grupo de empresas.                                

        hr

        p
            strong.mr-2 Posicionamiento:
            | es el lugar que ocupa un producto en la mente de los consumidores. También es la percepción que tienen los consumidores o usuarios de un producto o servicio.               