.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Merino, M. J. y Pintado, T. (2015). La investigación de mercados, claves para conocer los insights del consumidor.
                    td Libro Biblioteca SENA
                    td 
                        a(href="https://cutt.ly/iyR0A0n", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Prieto, J. E (2013). Investigación de Mercados.
                    td Libro Biblioteca SENA
                    td 
                        a(href="https://cutt.ly/UyR0LfW", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver


                tr
                    td Vilajoana, A., Jiménez, M., González, Z. y Vila, J. (2014). ¿Cómo diseñar una campaña de publicidad?
                    td Libro Biblioteca SENA
                    td 
                        a(href="https://cutt.ly/PyR0VJB", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver                                                